<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redefinir Senha</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h2>Redefinir Senha</h2>
    <form action="/reset-password" method="POST">
      <label for="newPassword">Nova Senha:</label>
      <input type="password" id="newPassword" name="newPassword" required>

      <button type="submit">Redefinir Senha</button>
    </form>
    <p>Lembrou sua senha? <a href="/">Faça login aqui</a>.</p>
  </div>
</body>
</html>